body{
    margin: 0;
}

/*HEADER*/

header {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    background-color: #f7aefb;
    color: #494949;
    font-family: "Dancing Script", cursive;
    font-size: 1.5em;
    font-weight: bold;
}

#containerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}

header p{
    display: none;
}

header a{
    text-decoration: none;
    color: #494949;
}

#logo{
    padding: 1vh;
}

#logo img{
    width: 100%;
    height: 60px;
}

#menuMobile{
    padding: 1vh;
}

#menuMobile img{
    height: 48px;
}

nav{
    display: none;
}

nav ul{
    list-style: none;
    /* margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center; */
}

/**/

@media only screen and (max-width:599px){
    nav{
    position: absolute;
    height: 90vh;
    background-color: rosybrown;
    width: 100%;
    }
}

@media only screen and (min-width:600px) {
    #menuMobile{
        display: none;
    }

    header p{
        display: block;
        margin: 0;
    }

    nav{
        display: block;
        text-align: center;
    }

    nav ul{
        display: block;
    }
    
    nav li{
        display: inline;
        margin: 1vw;
    }

    #containerHeader{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    #logo{
        text-align: center;
    }
}